.nba-player-container {
    margin-top: 82px;
    min-height: 80vh;
    background: radial-gradient(circle,
            var(--color1) 40%,
            var(--color2),
            var(--color3));

    display: flex;
    align-items: center;
    justify-content: center;
}

.nba-player-card {
    background-color: #eee;
    width: 1450px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: start;

    margin: 80px 0;
}


.nba-player-image {
    width: 440px;
    margin-top: -20px;

    border-radius: 6px;
}

.nba-player-info {
    padding: 1rem 3rem 1rem 1rem;
    width: 100%;
}

.nba-player-fullname {
    font-size: 2.1rem;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: 'octin';
    letter-spacing: 4px;
}

.nba-player-paragraph-1 {
    font-size: 1.1rem;
    color: #4c4c55;
}

.nba-player-paragraph-1 span {
    font-size: 1.1rem;
    font-weight: 600;
    color: #525151;
}

.show-more-anchor {
    color: #fdb927;
    transition: all .4s;
}

.show-more-anchor:hover {
    color: #e7a005;
}

.nba-player-info .react-reveal {
    margin-top: 0rem;
    padding: 0 1rem 1rem 0;
    width: 100%;
}

.nba-player-paragraph-2 {
    font-size: 1.1rem !important;
    line-height: 1.6rem;
    display: inline-block;
    width: 100%;
}

.react-reveal span {
    font-size: 1.1rem !important;
    line-height: 1.6rem;
    display: inline-block;
    width: 100%;
}


@media (max-width: 1400px) {
    .nba-player-container {
        min-height: 82.3vh;
    }

    .nba-player-card {
        margin-top: 40px;
        width: 94vw;
    }

    .nba-player-info .react-reveal {
        padding: 0rem;
    }

    .nba-player-info {
        padding: 2rem;
    }
}

@media(max-width: 780px) {
    .nba-player-container {
        margin-top: 50px;
        padding: 60px 0;
    }

    .nba-player-card {
        margin-top: 40px;
        width: 94vw;
        grid-template-columns: 1fr;
    }

    .nba-player-image {
        width: 350px;
        border-radius: 10px;
        margin-top: -20px;
    }

    .nba-player-info {
        padding: 1rem;
    }
}

@media(max-width: 500px) {
    .nba-player-info {
        padding: 1rem;
    }

    .nba-player-paragraph-1,
    .nba-player-paragraph-1 span {
        font-size: 1rem;
    }

    .nba-player-paragraph-2 {
        font-size: 1rem;
        padding-top: 15px;
        line-height: 1.5rem;
    }

    .react-reveal span {
        font-size: 1rem;
    }

    .nba-player-image {
        width: 300px;
    }

    .nba-player-fullname {
        margin-top: 8px;
        font-size: 23px;
    }
}


@media(max-width: 360px) {
    .nba-player-image {
        width: 260px;
    }
}