@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

.player-name {
  font-family: 'Righteous', cursive;
  color: #006BB6;
  font-size: 32px;
  letter-spacing: 1.5px;

  padding: 5px 5px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 50px;
  height: 100% !important;
  width: 60vw;
}

.card .card-thumb {
  position: relative;
  width: 350px;
  height: 350px;
  padding: 15px;
  border-radius: 300px;
  z-index: 1000;
  overflow: hidden;
  background: rgb(255, 202, 89);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

  display: grid;
  align-items: center;
  justify-content :center;
}

.card .card-thumb div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-thumb .player_img {
  z-index: 1000;
  border-radius: 200px;
}

.card .card-thumb .gsw_logo {
  position: absolute;
  opacity: 0.13;
  z-index: 0;
  /* height: 100%;
  width: 100%; */
}

.card .card-content {
  width: 100%;

  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 180px;
  margin-left: -180px;
  background-color: rgb(245, 249, 255);
  z-index: 1;
  border-radius: 20px;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.5);
}


@media (max-width: 767px) {
  .card {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px 10px !important;
  }

  .card .card-content {
    width: 100%;
    padding-left: 20px;
    padding-top: 160px;
    margin-left: 0px;
    margin-top: -140px;
    text-align: center;
  }

  .card .card-thumb {
    margin-top: 80px;

    width: 210px;
    height: 210px;
  }

}


@media (max-width: 768px) {
  .card-content-info {
	  padding: 0 !important;
  }

  .card .card-thumb {
    width: 280px;
    height: 280px;
  }
}

.card-content-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 40px;

  align-items: center;
  justify-content: center;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: left;
  padding: 10px 0;
  border-bottom: 1px solid rgb(218, 218, 218);
}


/* @media (min-width: 1367px){
  .card .card-thumb {
    width: 500px !important;
  }
} */

@media (min-width: 1365px){
  .card .card-thumb {
    height: 280px !important;
    width: 600px !important;
  }
      
  .card .card-content {
    width: 90vw;
    padding: 20px;
    padding-left: 180px;
    margin-left: -130px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card .card-thumb {
    height: 226px !important;
  }
  
  .card .card-content {
    width: 90vw;
    padding: 20px;
    padding-left: 180px;
    margin-left: -160px;
  }
}


@media (min-width: 1024px) and (max-width: 1366px){
  .card .card-thumb {
    height: 260px !important;
  }
  
  .card .card-content {
    width: 90vw;
    padding: 20px;
    padding-left: 180px;
    margin-left: -160px;
  }
}

@media (max-width: 1024px) {
  .card {
	  width: 90vw !important;
  }
}

@media (max-width: 768px) {
  .card {
	  width: 98vw !important;
  }
}

.card-info span:first-of-type {
  font-size: 15px;
  font-weight: 600;
  color: grey;
  padding-left: 0;
}

.card-info span:last-of-type {
  padding-left: 50px;
  font-size: 15px;
}

@media (max-width: 600px) {
  .card {
	  width: 98vw !important;
  }

  .card-content-info {
	  margin: 0 !important;
  }

  .card-info span:first-of-type {
	  font-size: 13px !important;
  }

}

@media (max-width: 445px){
  .card .card-thumb {
    height: 220px !important;
    width: 220px !important;
  }
}