.editplayer_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.editplayer_wrapper_inner {
  display: grid;
  /* align-items: center;
  justify-content: center; */
}

.editplayer_wrapper .label_inputs {
  display: inline-block;
}

.select_team_layout .wrapper .left {
  flex-grow: 1;
}

.select_team_layout input[name='result_local_input'],
.select_team_layout input[name='result_away_input'] {
  width: 60px;
  text-align: center;
  background: #063d68;
  color: #ffffff;
}

.delete_player {
  background: rgb(189, 43, 33) !important;
  border: none;
  color: #ffffff;
  padding: 12px 0;
  transition: all 0.4s;
}

.delete_player:hover {
  background: rgb(221, 15, 0) !important;
}
