body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* overflow-x: hidden;  */

    /* font-family: Oxygen, sans-serif; */
}

:root {
    --color1: rgb(115, 187, 221);
    --color2: #5eacc2;
    --color3: rgb(5, 101, 146);

    --gsw-color: #fdb927;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #242424;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(to bottom,
            var(--color2) 60%,
            rgb(1, 17, 26));
    outline: 1px solid #6b6b6b;
}

.not_found_container {
    text-align: center;
    background-size: 5px 5px !important;
    min-height: 80.8vh;
    font-size: 70px;
    font-family: "Righteous", cursive;
    color: #006bb6;

    display: grid;
    align-items: center;
    justify-content: center;
}

@media (max-width: 411px) {
    .link_logo .img_cover {
        width: 60px !important;
        height: 60px !important;
    }
}

@media (max-width: 360px) {
    button.MuiButton-root-40 {
        margin-left: -16px !important;
        font-size: 13px !important;
    }
}

@media (max-width: 320px) {
    button.MuiButton-root-40 {
        font-size: 12px !important;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.link_logo img {
    display: inline-block;
}

.img_cover {
    background-size: cover !important;
}

.dark_blue {
    background: #26282a;
}


input {
    background: #fafafa;
    border: 1px solid #e9e9e9;
    font-size: 17px;
    padding: 8px;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
}

select {
    font-size: 16px;
    height: 38px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    width: 100%;
}

button {
    background: #006bb6;
    color: #ffffff;
    border: 1px solid rgb(25, 79, 150);
    padding: 8px 60px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

.error_label {
    color: #f44336;
    font-weight: 600;
    margin: 10px 0px;
}

.success_label {
    color: #fdb927;
    font-weight: 600;
    margin: 10px 0px;
}

.label_inputs {
    width: 150px;
    text-align: center;

    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: 300;
    background: rgb(253, 210, 115);
    padding: 10px 10px;
    display: inline-block;
    border-radius: 4px;
}